<div class="mt-2">
  <table class="m-auto border border-slate-500">
    <thead>
      <tr>
        <th class="border border-slate-600 p-4"> Food </th>
        <th class="border border-slate-600 p-4"> Measurement Unit </th>
        <th class="border border-slate-600 p-4"> Price </th>
        <th class="border border-slate-600 p-4"> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <%= render partial: "food_lists", locals: {data: food, price: true, qty: false} %>
          <td class="border border-slate-600 p-4 text-xs" ><%= link_to "Delete", food_path(food.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
